<h3>These are your blog entries.</h3>
<section class="row">
  <div class="col-xs-4">
    <ul>
    Entries Count: {{entriesCount}}
      {{#each entry in controller}}
        <li>{{#link-to 'entry' entry}}{{entry.title}}{{/link-to}}</li>
      {{/each}}
    </ul> 
  </div>
  <div class="col-xs-8">
    {{outlet}}
  </div>
</section>

{{recentEntry.title}}
{{render 'recent-entry' recentEntry}}